.AboutMe {
  padding: 2em 1em;
  text-align: left;
  width: 400px;
}

.AboutMe p {
  font-style: normal;
  font-weight: normal;
  mix-blend-mode: overlay;
}

/* Mobile Styling */
@media (max-width: 500px) {
  .AboutMe {
    width: 80%;
  }
}
