.container {
  position: fixed;
  display: flex;

  background-color: rgba(51, 51, 51, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 1em;
  box-sizing: border-box;
  padding: 2em;

  /* padding: 10pt; */

  width: max-content;
  height: max-content;

  /* Front page view */
  flex-direction: column;
  gap: 1em;
  z-index: 999;
  flex-wrap: wrap;

  font-size: 32pt;
  font-weight: 300;
}

.top {
  /* position: absolute; */
  display: none;
}

.active {
  display: flex;
}

/* .section {
  width: max-content;
} */
